<div class="container">
    <div class="col-md-6">
        <div ng-include="'views/heading.html'"></div>
        <p>
        </p>
    </div>
    <div class="col-md-6">

        <p class="lead" ng-show="waitingStartSignal">Waiting Raspberry Pi Start button to be pushed...</p>

        <p class="lead" ng-hide="disableRegistration();">Please fill the form:</p>

        <p class="lead" ng-show="gameInProgress">Game is in progress...</p>

        <form ng-submit="register()">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Nick Name"
                       ng-disabled="disableRegistration();"
                       ng-model="user.nickName"
                       uib-typeahead="player.nickName for player in leaderBoard | filter:{nickName:$viewValue}"
                       typeahead-editable="false"
                       typeahead-on-select="onSelectName($item)"
                       typeahead-template-url="views/typeahead.html">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address"
                       ng-disabled="disableRegistration();"
                       ng-model="user.email"
                       required>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="user.comments" ng-disabled="disableRegistration();"
                          placeholder="Any comments..."></textarea>
            </div>
            <button class="btn btn-info btn-block" type="submit" ng-disabled="disableRegistration();">
                You may contact me, let's play!</button>
        </form>
        </p>
    </div>
</div>